<header class="header">
  <a href="/" class="header__logo">
    <img class="header__logo-image" src="/assets/images/placeholder_logo.png" alt="Company Logo">
  </a>

  <div class="header__mobile-menu">
    <nav class="header__nav">
      <ul class="header__nav-list">
        {% for nav_item in site.data.navigation %}
          <li class="header__nav-item">
            <a href="{{ nav_item.url | relative_url }}" class="header__nav-link">{{ nav_item.title }}</a>
          </li>
        {% endfor %}
      </ul>   
    </nav>
    <button class="header__hamburger" type="button" aria-label="Toggle navigation">
      <span class="header__hamburger-line"></span>
      <span class="header__hamburger-line"></span>
      <span class="header__hamburger-line"></span>
      <span class="header__hamburger-line"></span>
    </button>
  </div>
</header>